<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/a.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>abcd</title>
</head>
<body>
    <div class="bcat" style="margin-top: 10px;">
        
        <h2 >  Products</h2>
        {% for product in men %}
	    <div class="cat" style="width: 200px; height: 350px;">
            <a href="/third/{{product.id}}">
	    	<img  src="{{product.image.url}}"  width="195" height="250">
	    	<span style="width: 150px;" class="pro2">{{product.name}}</span>
            <span style="width: 150px;" class="pro2">Rs. {{product.price}}</span></a>			
        </div>
        
    {% endfor %}
    </div>
   
    
</body>
</html>